<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <p id="code"></p>

    <h1>Player who's already connected:</h1>
    <p>Player 1:</p>
    <p id="p1"></p>

    <p>Player 2:</p>
    <p id="p2"></p>

    <p id="finish"></p>
    <p id="numPlayer"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/javascripts/assemblyScript.js"></script>
  </body>
</html>
