<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <a href="/assembly">
      LET'S START THIS GAME !!!!
    </a>
  </body>
</html>
