<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <form>
      <input id="code" autocomplete="off" >
      <button>JOIN</button>
    </form>
    <p id="joined"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/javascripts/joinScript.js"></script>
  </body>
</html>
